<div class="main-container">
    <div class="main-content">
        <div class="page-header">
            <div id="title">
                <div class="page-title">
                    <div>
                        <i class="fas fa-sliders-h"></i>
                    </div>
                    <small class="page-name">Administrador del sistema</small>
                </div>
            </div>
        </div>
        <div class="list-main">
            <a [routerLink]="['/tel']" class="item">
                <div class="i-header">
                    <i class="fas fa-phone-alt"></i>
                </div>
                <div class="i-body">
                    <span class="name">Telefonos</span>
                    <small>Crear y gestionar telefonos de atención al cleinte</small>
                </div>
            </a>
            <a [routerLink]="['/agent']" class="item">
                <div class="i-header">
                    <i class="fas fa-user-tie"></i>
                </div>
                <div class="i-body">
                    <span class="name">Agentes</span>
                    <small>Gestionar agentes</small>
                </div>
            </a>
        </div>
    </div>
</div>